.form-container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background: #009fff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #603813,
        #b29f94
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #603813,
        #b29f94
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    label {
        color: #000;
    }

    div.title {
        font-size: 3em;
        color: #000;
        margin-bottom: 10px;
    }
    div.header {
        font-size: 3em;
        color: #000;
        margin-bottom: 10px;
    }
}
