<div
    class="form-container"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutFill
>
    <form [formGroup]="loginForm">
        <div class="header">Monitoring Broker</div>
        <div class="title">Login</div>
        <div class="form-group">
            <label for="username">Username</label>
            <input
                formControlName="username"
                type="text"
                class="form-control"
                id="username"
            />
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input
                formControlName="password"
                type="password"
                class="form-control"
                id="pwd"
            />
        </div>
        <button type="submit" (click)="submit()" class="btn btn-primary">
            Submit
        </button>
    </form>
</div>
